<template>
<div class=" bg-primary sm:h-[50vh] h-[60vh] ">
    <div class=" p-8 flex-row justify-between text-white hidden sm:flex ">
      <span class=" font-bold ">MAS POS</span>
      <span>Call Us +62 2824 7482</span>
    </div>
  </div>
  <div class=" relative">
    <div class=" block sm:absolute sm:top-0 sm:-translate-y-[50%] bg-white px-6 rounded-xl sm:shadow-lg sm:max-w-md w-full py-4 sm:left-[50%] sm:-translate-x-[50%]">
      <h1 class="font-bold text-lg text-center ">Login</h1>
      <form action="" @submit.prevent="login" class=" flex flex-col gap-6">
        <div class="">
          <label for="email" class="block mb-2 text-sm  text-gray-900 ">Username</label>
          <input v-model="formData.email" type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter Username"  required>
        </div>
        <div class="">
            <label for="password" class="block mb-2 text-sm  text-gray-900 ">Password</label>
            <div class="relative">
              <input v-model="formData.password" :type="seePassword ? 'text' : 'password'" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter password" required>
              <button type="button" @click="togglePasswordVisibility" class=" absolute right-3 top-[50%] w-6 h-6 -translate-y-[50%] text-slate-400">
                <svg xmlns="http://www.w3.org/2000/svg" v-if="seePassword" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                </svg>
                <svg v-else xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
              </button>

            </div>
        </div>
        <button class="bg-blue-600 px-6 sm:w-fit sm:mx-auto py-2 rounded text-white font-medium">
          Login
        </button>
      </form>
    </div>
  </div>
  

</template>

<script>
  import {
    useAuthStore
  } from "@/stores/auth.store.js"

  export default {
    data() {
      return {
        authStore: useAuthStore(),
        seePassword: false,
        formData: {
          email: "",
          password: "",
        }
      }
    },
    methods: {
      login() {
        this.authStore.login(this.formData)
      },
      togglePasswordVisibility() {
        this.seePassword = !this.seePassword
      }
    }
  }


</script>
