<template>
  <div class=" flex flex-row gap-2 justify-end">
    <button class=" bg-blue-200 text-blue-500 px-6 py-2 font-medium rounded">+ Add Category</button>
    <button class=" bg-blue-200 text-blue-500 px-6 py-2 font-medium rounded">+ Add Products</button>
    <button class="bg-blue-600 px-6 py-2 rounded text-white font-medium">Cart</button>
  </div>
</template>

<script setup>
  import { onMounted } from "vue";
  import { axiosWrapper } from "../../helper/axios-wrapper";
  const baseUrl = import.meta.env.VITE_BASE_URL;

  onMounted(async () => {
    const res = await axiosWrapper.get(`${baseUrl}/api/v1/category`)
    console.log("🚀 ~ file: index.vue:15 ~ onMounted ~ res:", res)
  })

</script>
