<template>
  <header class="w-full h-[75px] bg-blue-500 flex justify-between items-center px-8 md:px-20 py-12">
    <div class="flex-row justify-between text-white flex ">
      <span class=" font-bold ">MASPOS</span>
    </div>
    <div class=" flex flex-row">
      <div class=" flex flex-row gap-2 items-center text-white group relative cursor-pointer">
        <span>{{ authStore?.user?.name }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9" >
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>  
        <div class=" w-4 h-4 bg-green-500 border-2 border-white rounded-full absolute right-0 bottom-0"></div>
        <div class=" drop-shadow-lg bg-white p-4 top-8 right-0 absolute rounded-md text-gray-400 font-medium group-hover:block hidden">
          <button class=" flex items-center gap-1" @click="authStore.logout()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
              <path fill-rule="evenodd" d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z" clip-rule="evenodd" />
              <path fill-rule="evenodd" d="M6 10a.75.75 0 01.75-.75h9.546l-1.048-.943a.75.75 0 111.004-1.114l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 11-1.004-1.114l1.048-.943H6.75A.75.75 0 016 10z" clip-rule="evenodd" />
            </svg>
            Logout
          </button>
          
        </div>
      </div>
    </div>
  </header>
  <div class=" p-6 md:px-20">
    <slot />
  </div>
</template>

<script>
  import {
    useAuthStore
  } from "@/stores/auth.store.js"

export default {
  name: 'ExampleLayout',
  data(){
    return {
      authStore: useAuthStore()
    }
  },
  methods: {
    handleUserClick: function() {
      console.log('clicked')
    }
  }
};
</script>